

.lightTheme{
    background-color: rgba(0, 195, 255, 0.192);
    display: block;
    text-align: center;
    height:500px;
    font-size: 3rem;
    font-weight: 500;
}

.darkTheme{
    background-color: rgb(150, 245, 240);
    display: block;
    text-align: center;
    height:500px;
    font-size: 3rem;
    font-weight: 500;
}