*{padding: 0;margin: 0;}
.port
{
    margin-top: 50px;
}
.part2
{
    float: right;
    margin-bottom: 50px;
}
.part2 .fooderRight
{
    float: left;
    width: 600px;
    height: 466.66px;
}
.part2 .fooderRigtImg
{
    width: 200px;
    height: 240px;
    margin-left: 50px;
    position: relative;
    border: 1px solid rgba(165, 163, 163, 0.479);
    margin-bottom: 15px ;
}
.part2 .productImg
{
    width: 198px;
    height: 200px;
    padding-left: 0.2px;
}
.part2 .fooderRight .iconx
{
    position: absolute;
    z-index: 1;
    top: 10%;
    right: 0%;
    opacity: 0;
    width: 70px;
}
.part2 .fooderRigtImg .iconx a
{
    background-color: black;
    color: white;
    padding: 10px;
    margin: 2px;
    float: right;
}
.part2 .nameProduct
{
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.part2 .fooderRigtImg:hover
{
    border: 1px solid rgba(241, 64, 9, 0.479);
}
.part2 .fooderRigtImg:hover .iconx
{
    transition: 1.2s;
    right: 10%;
    opacity: 1;
}
.part2 .fooderRigtImg .iconx a:hover
{
    background-color: rgb(236, 124, 33);
}