*{padding: 0;margin: 0;}
.part2 .fooderLeft
{
    position: relative;
    width: 760px;
    height: 500px;
    overflow: hidden;
    display: inline-block;
}
.part2 .fooderLeftImg
{
    position: absolute;
    width: 760px;
    height: 500px;
    z-index: 0;
    overflow: hidden;
}
.part2 .backgroudOnImg
{
    width: 760px;
    position: absolute;
    z-index: 1;
    background: rgba(0, 0, 0, 0.199);
    height: 500px;
}

.part2 .noidungx
{
    position: absolute;
    color: whitesmoke;
    z-index: 3;
    top: 35%;
    left: 18%;
    text-align: right;
}
.part2 .x
{
    position: absolute;
    z-index: 4;
    padding: 6px;
    background-color: black;
    color: white;
    border-radius: 4px;
    left: 0;
}
.part2 .x:hover
{
    background-color: rgba(255, 255, 255, 0.671);
    color: black;
    text-decoration: none;
}
.part2 .fooderLeft:hover .noidungx
{
    transition: 1.2s;
    padding: 10px;
    border-right: 2.5px solid white;
}
.part2 .fooderLeft:hover .fooderLeftImg
{
    transition: 2s;
    transform: scale(1.1);
}