*{margin: 0;padding: 0;}
.topfooder {
    background: salmon;
    padding: 12px;
    color: white;
}
.centerfooder
{
    background-color: black;
    color: white;
    border-bottom: 1px solid rgb(129, 128, 128) ;
    padding: 20px 0 20px 0;
}
.centerfooder .row
{
    margin-right: 15px;
}
.bottomfooder
{
    background-color: black;
    color: white;
    padding: 12px 0 12px 0;
}
.icon
{
    display: inline-block;
    float: right;
    padding-right: 140px;
}

.topfooder .row .email
{
    padding-top: 5px;
}
#gmail
{
    padding: 5px 35px 5px 5px;
}
button#theodoi {
    padding: 4px;
    color: white;
    background-color: black;
    border: 1px solid black;
    border-radius: 5px;
}
.col-sm-4.nameFooder {
    padding-left: 80px;
}