body {
    background-color: #FFEBCD;
    margin:0px;
    padding:0px;
}

/* Nav bar custom setting */

.navbar-brand {
    margin-right: 0px;
}

.header {
    font-family: 'Acme', sans-serif;
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom:0px;
    letter-spacing: 2px;
}

/*Question Page CSS */

ul.gallery{
    display:flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    padding:20px
}

.question-image{
 width: 200px;
 height: 200px;
 margin: 20px;
}

.question-button:hover{
    border:2px solid salmon;
}


.gallery li{
    display:inline-block;
    margin:20px 30px;
}

/* List of Gift CSS */

.carousel-item {
    width: 100%;
    float: none;
    margin: 0 auto;
}

.card {
    width: 18rem;
    margin: 20px auto 40px;
}

.card img {
    margin: 0 auto;
    height: 18rem;
    width: 18rem;
}

.card .hover-background {
    position: absolute;
    width: 18rem;
    height: 18rem;
    border-radius: 2px;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.445);
    background-image: -webkit-linear-gradient(45deg, #f7c6264d 15%, #f68c2f6e 40%, #e5127d63 85%);
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.1s;
}

.card .hover-background:hover {
    opacity: 1;
    transition: 0.2s;
    transform: scale(1);
    transition-delay: 0.4s;
}

.card .hover-background:hover button {
    opacity: 1;
    transition: 0.6s;
    transform: scale(1);
    transition-delay: 0.1s;
}

.card .hover-background button {
    background-color: transparent;
    width: 3rem;
    height: 3rem;
    opacity: 1;
    margin-top: 8rem;
    border: none;
    transform: scale(0);
}

.card .hover-background button:hover {
    transform: scale(3);
    color: rgb(243, 9, 9);
    transition: 0.7s;
    animation: zoomlen 0.9s linear infinite;
}

.card-body {
    text-align: center;
    font-weight: bold;
    font-family: 'Baloo Bhaina 2', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.carousel-control-next {
    width: 10%;
}

.carousel-control-prev {
    width: 10%;
}

#titleOfListGift {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    padding-top: 1rem;
    font-size: 1.5rem;
   
}
@-webkit-keyframes zoomlen{
    0%{transform:scale(1.4,1.4) ;}
    50%{transform: scale(1.1,1.1);}
    100%{transform: scale(1.4,1.4);}
}
.x
{
    display: inline-flex;
    margin-left: 42%;
}
.backbutton
{
    margin-left: 10px;
  margin-bottom: 20px;
}
.y{
    background-color: salmon;
}
.backcolor
{
    background-color: salmon;
    width: 100%;
    height: 100px;
}

a.carousel-control-prev {
    background-color: hsl(36, 100%, 90%);
}
a.carousel-control-next {
    background-color: blanchedalmond;
}
.col-sm {
    background-color: blanchedalmond;
}